.explanation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explanation-wrapper h1 {
    margin-top: 4rem;
    color: #070707;
    font-family: "Didact Gothic", "sans-serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.5rem;
}

.explanation-wrapper p {
    color: #070707;
    font-family: "Didact Gothic", "sans-serif";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.explanation-wrapper img {
    margin-bottom: 3rem;
}

.error-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.4px solid #070707;
    width: 90%;
    margin: auto;
}

.error-title h3 {
    color: #070707;
    font-family: "Didact Gothic", "sans-serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
}


@media (max-width:500px)
{
    .explanation-wrapper h1 
    {
        font-size: 2rem;

    }

    .explanation-wrapper p 
    {
        font-size: 1rem;
    }

    .error-title h3 
    {
        font-size: 1rem;
    }

    #products-holder 
    {
        width: 100% !important;
    }
}
