.gift-bag {
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: flex-start;
    gap: 1.5rem;
    background:  #FEFEFE;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 2px 0px rgba(14, 14, 33, 0.04), 0px 4px 6px 0px rgba(14, 14, 33, 0.04), 0px 6px 16px 0px rgba(14, 14, 33, 0.04), 0px 0px 10px 0px rgba(14, 14, 33, 0.06);
}

.gift-bag-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gift-bag-title {
    margin-bottom: 0;
}

.gift-bag-description {
    margin: 0;
}

.gift-bag-data {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.add-gift-bag {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: 1px solid #A5A5A5;
    background: #FEFEFE;
}

.cart-product-img.gift-single-page
{
    max-width: 50%;
}


@media screen and (max-width:500px){
    .gift-bag{
        flex-direction: column;
    }

}