
.print 
    {
        
        width: 90%;
        height: auto;
        margin: auto !important;
        background: #fefefe;
        padding: 2rem 1.5rem;
    }

    .print .title-description h1, .print .title-description p
    {
       text-align: center;
    }

   .print .subtemplate 
    {
        text-align: center;
    }

    .print .subtemplate h2 
    {
        margin-bottom: 2rem;
    }

    .print .image-text 
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;


    }

    .print  .image 
    {
        text-align: center;
        width: auto;
    }

    .print .image img
    {
        max-width: none;
    }
    .print .text 
    {
        margin-left: 1rem !important;
        width: auto;
    }

    .print .text-item   
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 2rem; 
        margin-bottom: 2rem !important;
       
      
    }

    .print .text-item p 
    {
        text-align: justify;
        
    }

    .text-item-text {
        margin-left: 1.5rem !important;
    }

    
    .print .text-item-img  img 
    {
        width: 4rem;
        max-width: 4rem;
    }

    @media (max-width: 767px)
    {
        .print .image-text 
        {
            flex-direction: column;
            width: 100%;
        }

        .print 
        {
            width: 100%;
            padding: 0.5rem;
        }

        .print  .image img 
        {
            width: 100%;
        }

        .print .text-item 
        {
            padding: 0;
        }

        
    .print .text-item-text 
    {
     
        margin-left: 1rem !important;
        padding-right: 5px;
    }

    }